<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
  <p>Books: {{ num_books }}</p>
  <p>Instances: {{ num_instances }}</p>
  <p>Available Instances: {{ num_instances_available }}</p>
  <p>Authors: {{ num_authors }}</p>
  <!-- <a href="{% url 'index' %}">Home</a>
  {% if all_books %}
    <ul>
      {% for book in all_books %}
        <li>{{ book.title }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books are available.</p>
  {% endif %} -->
</body>
</html>