{% extends "base_generic.html" %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}

{% block content %}
  <h1>Author: {{ author }}</h1>
  <p class="text-muted">{{ author.display_date }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% if author.book_set.all %}
    {% for book in author.book_set.all %}
      <a href="">{{ book.title }}</a> <strong>({{ book.bookinstance_set.all.count }})</strong>
      <p style="text-align: justify;">{{ book.summary }}</p>
    {% endfor %}
    {% else %}
    <p>This author has no books.</p>
    {% endif %}
  </div>
{% endblock %}
